CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

CMakePresets.json
CMakeLists.txt
cmake/


# clion 配置文件
.idea

# clion 调试文件
cmake-build-debug